@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap%27');


/*Variables*/
:root {
    --main-bg: #1b212c;
    --navbar-bg: #253145ff;
    --menu-bg: #253145ff;
    --blue : #0761ebff;
}

/*Body/HTML/contenair*/
html *{
    font-family: 'Montserrat', sans-serif;
   
}
body, html, #container, #page{
    width: 100%;
    height: 100%; 
}
body {
    margin: 0;
    background-color: var(--main-bg) !important;
    overflow-x:hidden
}

#container{
    display:flex;
    flex-wrap: wrap;
}


/*NavBar*/
#navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--navbar-bg);
    width: 100%;
    padding: 0%;
    margin-left: 0%;
}

#search{
    align-self: center;
    margin-left: 4%;
}

#add{
    align-self: center;

}

.btn-bluegradient{
    background-image: linear-gradient(to right, var(--blue) 13%, cyan 106%);
    color: white !important; /* take priority on bootstrap css */
    border-width: 0px !important;
    height: 40px;
    font-size: 1.25em !important;
    overflow:hidden;
    border-radius:15px !important;
    font-weight: bold !important; 
}

#photoProfil{
    
    overflow:hidden !important;/* make the picture round */
    border-radius:30px !important;  
}

.dropdown{
    
    z-index: 1;
    margin-left: 20px;

}

input{
    background-color: var(--main-bg) !important;
    border-color: var(--blue) !important;
}
#profile{
    align-self: center;
    margin-right: 2%;
}

/*Menu*/
#menu{
    float: left;
    display: flex;
    flex-direction: column;
    background-color: var(--menu-bg);
    width: 9%;
    height: 100% ; 
    color: white;
}

#menu a{
    color: white;
}

#menu a:hover {
    color: var(--blue);
  }

#favorite, #trends{
    
    padding-left: 10px;
    color: white;
}

#favorite{
    margin-top: 100%;
}

#trends{
    margin-top: 50%;
}


/*Main*/
#main{
    display: flex;
    flex-direction: column;
    width: 91%;

}
#main > .display-4{
    text-align: center;
    color: white;
    margin-top: 40px;
}

#recently{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.carousel-inner{
    margin-left: 5%;
}


#recently img{
    margin-left: 9%;
    margin-right: 0.5%;
}

#main h2{
    color : white;
    padding-top: 7%;
    padding-left: 9%;
    padding-bottom: 2%;
}
#main  .row{
    width: 100% !important;
}

/*When the page is minimize or on a small screen all element are smaller*/
@media (max-width: 1600px){
    #main img, #logo img{
        width: 120px ;
        height: 120px ;
    }
}
@media (max-width: 1600px){
    #profile img{
        width: 50px ;
        height: 50px ;
    }
}
@media (max-width: 1600px){
    #add button{
        width: 90px !important;
        height: 35px !important;
        font-size: 0.8em !important;
    }
}

@media (max-width: 1600px){
    #trends , #favorite {
        font-size: 0.7em ;
    }
}
@media (max-width: 1600px){
    #search input {
        width: 450px ;
    }
}
@media (max-width: 1600px){
    .display-4 {
        font-size: 1.5em !important;
    }
}
/*###########################################################################
Register / Login page
###########################################################################*/
#login{
    display:flex;
    color: white;
    margin-top: 10%;

}
#connection{
    display: flex;
    flex-direction: column;
    margin-right: 30%;
    margin-left: 10%;
    border: solid;
    border-color:  var(--blue);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    overflow:hidden;
    border-radius:15px;
    
}
#registration{
    display: flex;
    flex-direction: column;
    border: solid;
    border-color:  var(--blue);
    overflow:hidden;
    border-radius:15px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    
}

#error{
    color: var(--blue);
}
/*###########################################################################
Profil page
###########################################################################*/
#general{
    color: white;
}
#general hr{
    border-color: var(--blue);
}
#whiteHR{
    border-color: white !important;
}
#newPasswordRegistration, #actualPassword{
    width: 200px;
}
#aligneRow{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}
#bio{
    border-color: var(--blue);
    border-width: 2px;
    background-color: var(--main-bg);
    color: white;
    width: 25%;
    height: 20%;
    border-radius: 15px;
}

#blue .fa-star {
    color: var(--blue) !important;
}
#blue .fa-heart{
    color: var(--blue) !important;
}
