@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap%27');


/*Variables*/
:root {
    --main-bg: #1b212c;
    --navbar-bg: #253145ff;
    --menu-bg: #253145ff;
    --footer-bg: #253145ff;
    --blue : #0761ebff;
    --redAlert : #bf2424;
    --greenAlert : #218838;
}

/*Body/HTML/container*/
html *{
    font-family: 'Montserrat', sans-serif;
   
}
body, #container, #page{
    width: 100% !important;
    height: 100% !important; 
}

#container{
    padding-bottom: 4%;
    margin-bottom: 300px;
}
#page{
    position: relative;
    min-height: 100vh;
}
body {
    background-color: var(--main-bg) !important;
    overflow-x:hidden
}
#middlePage{
    display: flex;
}
#content-wrap{
    padding-bottom: 200px;
    
}

/*NavBar*/
#navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--navbar-bg);
    width: 100%;
    padding: 0%;
    margin-left: 0%;
    position: fixed;
    z-index: 2;
}

#search{
    align-self: center;
    margin-left: 4%;
}

#add{
    align-self: center;

}

.btn-bluegradient{
    background-image: linear-gradient(to right, var(--blue) 13%, cyan 106%);
    color: white !important; /* take priority on bootstrap css */
    border-width: 0px !important;
    height: 40px;
    font-size: 1.25em !important;
    overflow:hidden;
    border-radius:15px !important;
    font-weight: bold !important; 
}

#photoProfil{
    
    overflow:hidden !important;/* make the picture round */
    border-radius:30px !important;  
}

.dropdown-menu{
    
    z-index: 1;
    margin-top: -50px !important;
    margin-left:-100px!important;
}

#profile{
    align-self: center;
    margin-right: 2%;
}

/*Menu*/
#menu{
    margin-top: 120px;
    background-color: var(--menu-bg);
    color: white;
    width: 10%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

#menu a{
    color: white;
}

#menu a:hover {
    color: var(--blue);
  }

#favorite, #trends{
    
    padding-left: 10px;
    color: white;
}

#favorite{
    margin-top: 100%;
}

#trends{
    margin-top: 50%;
}


/*Main*/
#main{
    display: flex;
    flex-direction: column;
    width: 91%;
    position: relative;
    top: 20%;
    left: 10%;
    margin-top: 170px !important;
}

#main > .display-4{
    text-align: center;
    color: white;
    margin-top: 40px;
}

#recently, #discover{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}
#carouselExampleControls{
    width:100% !important;
}

#main h2{
    color : white;
    padding-top: 7%;
    padding-left: 9%;
    padding-bottom: 2%;
}
#main .row{
    width: 100% !important;
}
/*carousel discover*/

/* #discoverCarouselInner .active, .carousel-item-left, .carousel-item-right {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */

#discover .card, #recently .card {
    width: 100% !important;
    margin: 0 !important;
    border-color: unset;
}

.card{
    min-width: 240px !important;
    background-color: var(--main-bg) !important;
}

#discover .container-card, #recently .container-card{
    padding: 0 !important;
    width: 15% !important;
    margin-left: 4% !important;
}

#discover .carousel-item, #recently .carousel-item{
    margin-left: 10% !important;
}

#discover .card-body, #recently .card-body{
    background-color: #0d1015;
    color: white;
}

/* #discover .carousel img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
} */

/*view album*/

#albumDisplay * {
    color: white;
}

/* .musicPlay:hover {
    border-bottom: white;
} */

.musicPlayingHover {
    color: var(--blue) !important;
}

.musicPlaying {
    color: var(--blue) !important;
}

.randomActive {
    color: var(--blue)
}

.alert-success{
    background-color: var(--greenAlert) !important;
    color: white !important;
}

.alert-danger{
    background-color: var(--redAlert) !important;
    color: white !important;
}


/*footer*/

#footer{
    width: 100%;
    height: 150px;
    margin-bottom: 0;
    margin-left: 10%;
    display: inline-block;
    background-color: var(--footer-bg);
    color: white;
    font-size: 0.8em;
    column-count: 3;
    column-rule-style: solid;
    column-rule-width: 1px;
    position: absolute;
    bottom: 0;
    
    
}

.footerBloc{
    padding: 5%;
    break-before: column;
    break-inside: avoid-column;
}

/*When the page is minimize or on a small screen all elements are smaller*/
@media (max-width: 1600px){
    #profile img{
        width: 50px ;
        height: 50px ;
    }

    #add button{
        width: 90px !important;
        height: 35px !important;
        font-size: 0.8em !important;
    }

    .row img, #logo img{
        width: 120px ;
        height: 120px ;
    }

    #trends , #favorite {
        font-size: 0.7em ;
    }

    #search input {
        width: 450px ;
    }

    .display-4 {
        font-size: 1.5em !important;
    }
}
/*###########################################################################
Register / Login page
###########################################################################*/
#login{
    background-color: var(--main-bg);
    display: flex;
    color: white;
    padding-top: 10%;
    padding: 5%;
    padding-left: 20%;
    margin-top:5%;
}

#logoLogin{
    width: 30%;
    height: 30%;

}
#connection{
    display: flex;
    flex-direction: column;
    border: solid;
    border-color:  var(--blue);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    overflow:hidden;
    border-radius:15px;
    
}
#registration{
    display: flex;
    flex-direction: column;
    border: solid;
    border-color:  var(--blue);
    overflow:hidden;
    border-radius:15px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    
}

#error{
    color: var(--blue);
}
/*###########################################################################
Profile page
###########################################################################*/



#BlocProfil{
    margin : 5%;
    /*border : 10px dashed red;*/
}

#BlocInfoGeneral{
    display: flex;
    justify-content: space-around;
}

#photoDuProfile{
    border : solid 2px var(--menu-bg);
    border-radius: 50%;
    overflow: hidden;
    width: 250px;
    height: 250px;
}

#general{
    color: white;
    width: 500px;
}

#tendancePage, #favPage{
    color: white;
    padding-bottom: 35%;
}

#inputPhoto, #btnConfirmSetImage{
    width: 50%;
    margin: 1%;
}

#oldPassword{
    margin-right: 16.5%;
}

#general hr{
    border-color: var(--blue);
}
#whiteHR{
    border-color: white !important;
}
#oldPassword, #newPassword{
    width: 200px;
}
.aligneRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#Biographie{
    color: white;
}

#formChangeBio{
    display: flex;
    flex-direction: column;
}

#bio{
    border-color: var(--blue);
    border-width: 2px;
    background-color: var(--main-bg);
    color: white;
    border-radius: 15px;
    width: 30%;
    margin-bottom: 2%;
    overflow:hidden;
}

#btnChangeBio{
    width: 30%;
}

#blue .fa-star {
    color: var(--blue) !important;
}
#blue .fa-heart{
    color: var(--blue) !important;
}
/*###########################################################################
Lecture
###########################################################################*/
.time{
	text-align: right;
	position: absolute;
	top: 3px;
	right: 10px;
	left: 0;
	color: #335fb8;
    z-index: 2;
    border-radius: 5px;
}

.audio-progress{
	height: 22px;
	position: relative;
    background-color: #e5eff1;
    width: 600px;
    margin: 15px;
    border-radius: 5px;

}
#player-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}
#progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: var(--blue);
    z-index: 1;
    border-radius: 5px;
}
#howler-loop img{
    background-color: var(--navbar-bg);
    height: 22px;
    width: 22px;
    
}
#generalLecture button{
    background-color: var(--navbar-bg);
    border: none;
    color: white;
}

#displayPlayer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--navbar-bg);
    height: 100px;
    z-index: 2;
}

.playerPosition{
    display: flex;
    justify-content: space-between;
}

#playerBlocInfo{
    margin-right: 12%;
    display: flex;
    width: 100%;
    height: 100px;
}

#playerBlocInfo *{
    color: white;
}

#playerButtons{
    display: flex;
    justify-content: space-between;
}

#contenaire-vol{
    align-self: center;
    margin-right: 15%;
    margin-left: 15%;
}



/*###########################################################################
Audio
###########################################################################*/

#player-bar span{
    align-self: center;
    color: white;
    width: 30px;
}

#player-hr{
    height: 1px;
    background: var(--main-bg);
}


.hide{
	display: none;
}


#bar-vol{
    bottom: 65%;
    position: absolute;
    width: 20px;
	height: 100px;
    background-color: var(--blue);
    border-radius: 2px;

}
#barVolProgress{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10%;
	background-color: white;
    z-index: 1;
    border-radius: 2px;
}


/*###########################################################################
addAlbum page
###########################################################################*/
#addAlbumPage{
    margin-left: 10%;
}

#musicTitle, #music, #nom, #image{
    background-color: var(--main-bg) !important;
    border-color: var(--blue) !important;
}

#formAddMusic *, #formAddAlbum *, #formAddAlbum, #listMusicsToAdd {
    color : white
}

#topPageAddAlbum{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}

#listMusicsToAdd{
    
    background-color : var(--navbar-bg);
    width: 72%;
    border: 1px solid gray;
}

#formAddMusic{
    width: 65%;
    position: relative;
    left: 31%;
}

#listMusicsToAdd hr{
    left: 10%;
    width:100%;
    background: gray;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}

#newMusic{
    padding: 1%;
}

#imageAddAlbum{
    width: 250px;
    height: 150px;
}

#formAddAlbum{
    width: 66.7%;
    position: relative;
    left: 30.5%;
}

#submitAddMusic{
    border-radius: 10px;
    position: relative;
    left: 300%;
    background-color: var(--blue);
    border-width: 0px;
}
#submitAddAlbum{
    border-radius: 10px;
    position: relative;
    left: 300%;
    background-image: linear-gradient(to right, var(--blue) 13%, cyan 106%);
    border-width: 0px;
}

/*###########################################################################
Legal mentions page
###########################################################################*/

#legalMentionsText{
    color: white;
    font-size: 0.8em;
    width: 90%;
    padding-top: 200px !important;
}

/*ANIMATION*/

#loading-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg);
    z-index: 3;

}

#loading1, #loading2, #loading3, #loading4, #loading5{
    border-radius: 50%;
    z-index: 4;
    position: absolute;
    top:50%;
    width: 20px;
    height: 20px;
}

#loading-wrapper *:nth-child(odd) {
    background-color: var(--blue);
}

#loading-wrapper *:nth-child(even) {
    background-color: white;
}

#loading1{
    left: 44%;
}

#loading2 {
    left: 47%;
}

#loading3 {
    left: 50%;
}

#loading4 {
    left: 53%;
}

#loading5 {
    left: 56%;
}

/*###########################
error
###########################*/
h1{
    color:var(--blue);
}


